<body>
<table width="100%">
  <tr >
    <td width="30%" style=" vertical-align:top">
      <mat-card style="height: 100%">
        <mat-card-content>
          <div class="list-container">
            <mat-list class="list" *ngFor="let website of websiteList" [style.background]="'amber'" >
              <mat-list-item ><a  class="spacer" (click)="onListItemClick(website)">{{website.websiteName==null ? website.url:website.websiteName}}</a>
                <mat-icon class="edit" (click)="edit(website.webId)">edit</mat-icon>
                <mat-icon class="delete" (click)="removeWebsite(website.webId)">delete_outline</mat-icon>
                <mat-divider></mat-divider>
              </mat-list-item>

            </mat-list>
          </div>
          <p *ngIf="websiteList.length==0" >
            No Website is registered yet.
          </p>
        </mat-card-content>
      </mat-card>
   </td>
<td><span>&nbsp;&nbsp;&nbsp;</span></td>
    <td width="70%">
          <mat-tab-group (selectedTabChange)="onTabClick($event)">
            <mat-tab label="Real Time Chart">
              <div style="width: 700px">
                <canvas id="chartId" width="200" height="100" ></canvas>
              </div>
            </mat-tab>
            <mat-tab label="Today History">
              <div style="width: 700px">
                <canvas id="todayHistoryChart" width="200" height="100" ></canvas>
              </div>
            </mat-tab>
            <mat-tab label="History" >
              <div >
                <table>
                  <tr>
                    <td>
                      <canvas id="historyChartId" width="600" height="300" ></canvas>
                    </td>
                    <td>
                      <canvas id="historyUptimePercentagePiChart" width="200" height="100" ></canvas>
                    </td>
                  </tr>
                </table>


              </div>
            </mat-tab>
          </mat-tab-group>
    </td>
  </tr>
</table>
</body>
